.box {
  border: 1px solid black;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
  height: 100vh;
}

.add_ticket {
  grid-column-start: 1;
  grid-column-end: 3;
}

.get_ticket {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
}

.ticket_list {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}